<div class="padding-content">
  <h1 class="mdc-typography--headline6">Merchants - Head Office</h1>
  <mat-tab-group animationDuration="0ms">
      <mat-tab label="Basic">

      </mat-tab>
  </mat-tab-group>
  <div class="mdc-layout-grid" style="padding-top: 50px;">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop" style="margin-top: 15px;">
          <h4 class="mdc-typography--subtitle1">XXX-YYY-ABC</h4>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop" style="background-color: white;">
          <h4 class="mdc-typography--headline6" style="display: inline-block;color: rgb(169, 170, 172);">Contract Number
          </h4>
          <div class="mdc-select" style="display: inline-block; margin-left: 35%;">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="" disabled selected></option>
              <option value="active">
                Active
              </option>
              <option value="disabled">
                Disabled
              </option>
            </select>
            <label class="mdc-floating-label">Status</label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" style="width: 400px">
  
        </div>
        <div class="mdc-layout-grid__cell" style="width: 400px">
  
        </div>
        <div class="mdc-layout-grid__cell" style="width: 400px">
  
        </div>
      </div>
    </div>
  
  
    <div class="mdc-layout-grid" style="padding-bottom: 20px; margin-top: -5%;">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <h1 class="mdc-typography--body1" style="margin-top: 1px;">No.Series
          </h1>
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#f5f5f5">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Bingo d.o.o Export Import Tuzla</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">*</div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <h1 class="mdc-typography--body1" style="margin-top: 1px;">No.Series
          </h1>
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#f5f5f5">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">JIB</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">*</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mdc-layout-grid" style="padding-bottom: 40px;">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <div class="mdc-select" style="width: 400px; background-color: white;">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="" disabled selected></option>
              <option value="rStore">
                Retail Store
              </option>
              <option value="oStore">
                Online Store
              </option>
            </select>
            <label class="mdc-floating-label">Legal Entity Type</label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#f5f5f5">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Director</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">Authorized Person</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid" style="padding-bottom: 40px;">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <span class="flag-icon flag-icon-ba"></span>
          <div class="mdc-text-field mdc-text-field--with-trailing-icon mdc-text-field--fullwidth"
            style="background-color: #f5f5f5">
            <i class="material-icons mdc-text-field__icon">phone</i>
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Phone</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">+38733563000</div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <span class="flag-icon flag-icon-ba"></span>
          <div class="mdc-text-field mdc-text-field--with-trailing-icon mdc-text-field--fullwidth"
            style="background-color: #f5f5f5">
            <i class="material-icons mdc-text-field__icon">alternate_email</i>
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">@</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">local-part@domain</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid" style="padding-bottom: 20px;">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#f5f5f5">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Bank Client Code</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">*</div>
          </div>
        </div>
      </div>
    </div>
  
    <mat-expansion-panel
      style="background-color: #F5F5F5; border-bottom: 1px solid grey; box-shadow: none; border-radius: 0; margin-bottom: 25px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <label style="color: rgb(125,0,240); font-weight: bold;">Bank Accounts</label>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div style="display: flex; padding-bottom: 20px;">
        <div style="width: calc(50% - 20px); margin-right: 20px;">
          <mat-form-field class="mdc-text-field--fullwidth">
            <input matInput placeholder="Transaction Account" id="text-field-hero-input">
            <mat-hint style="margin-left: 15px; font-size: 12px; margin-top: 5px;">161 AAAAAAA KK</mat-hint>
          </mat-form-field>
        </div>
        <div style="width: calc(50% - 20px);">
          <mat-form-field class="mdc-text-field--fullwidth">
            <input matInput placeholder="Sub-account" id="text-field-hero-input">
            <mat-hint style="margin-left: 15px; font-size: 12px; margin-top: 5px;">161 AAAAAAA KK</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <!--   
    <div class="mdc-layout-grid"
      style="border-bottom: 1px solid gray; padding-bottom: 40px; background-color: #F5F5F5; margin-top: 2%;">
      <h1 class="mdc-typography--body1" style="margin-top: 1px; color: rgb(125,0,240); font-weight: bold;">Bank Accounts
      </h1>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Current Account</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">161 AAAAAAA KK</div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Sub-account</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">161 AAAAAAA KK</div>
          </div>
        </div>
      </div>
    </div> -->
  
    <!-- <div class="mdc-layout-grid"
      style="border-bottom: 1px solid gray; padding-bottom: 40px; background-color: #F5F5F5; margin-top: 2%;">
      <h1 class="mdc-typography--body1" style="margin-top: 1px; color: rgb(125,0,240); font-weight: bold;">Commission
      </h1>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Retail Store</label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="KM" selected>
                KM
              </option>
              <option value="percentage">
                %
              </option>
            </select>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Online Store</label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="KM" selected>
                KM
              </option>
              <option value="percentage">
                %
              </option>
            </select>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
    </div> -->
    <br><br>
  
    <mat-expansion-panel style="background-color: #F5F5F5; border-bottom: 1px solid grey; box-shadow: none; border-radius: 0; margin-bottom: 25px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <label style="color: rgb(125,0,240); font-weight: bold;">Commission</label>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mdc-layout-grid"
      style="padding-bottom: 40px; background-color: #F5F5F5; margin:0; padding:0; ">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Retail Store</label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="KM" selected>
                KM
              </option>
              <option value="percentage">
                %
              </option>
            </select>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-text-field mdc-text-field--fullwidth" style="background-color:#E2E3E4">
            <input class="mdc-text-field__input" id="text-field-hero-input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Online Store</label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control">
              <option value="KM" selected>
                KM
              </option>
              <option value="percentage">
                %
              </option>
            </select>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
    </div>
    </mat-expansion-panel>
  
  
    <div style="padding-bottom: 40px;">
      <button class="mdc-button" style="margin-top: 2%; background-color: #00E2C8; color: black;">
        <i class="material-icons mdc-button__icon" aria-hidden="true">save</i>
        <span class="mdc-button__label">Apply</span>
      </button>
      <button class="mdc-button" style="margin-top: 2%; background-color: #E3E4E6; color: black; margin-left: 20px;">
        <i class="material-icons mdc-button__icon" aria-hidden="true">clear</i>
        <span class="mdc-button__label">Delete</span>
      </button>
    </div>
</div>