<!-- <form #form='ngForm' (submit)="onSubmit(form)">
  <div class="form-group">
    <label>Username</label>
    <input matInput #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
  </div>
  <div class="form-group">
    <label>OTP</label>
    <input class="form-control" #OTP="ngModel" name="OTP" [(ngModel)]="formModel.OTP" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Login</button>
    </div>
  </div>
</form> -->
<div class="mdc-layout-grid" style="padding: 0;">
  <div class="mdc-layout-grid__inner" style="padding: 0;">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="width: 460px;"></div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="width: 460px;"></div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="width: 460px; padding: 0;"></div>
  </div>
</div>
<div class="mdc-layout-grid" style="padding: 0; background-color: rgb(98,0,238,0.1); height: 100vh;">
    <div class="mdc-layout-grid__inner" style="padding: 0;">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="padding: 0;">
          </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="padding: 0;">
          <div class="container">
            <mat-card style="padding: 25px;">
              <mat-card-header>
                <mat-card-title style="text-align: center;">Login</mat-card-title>
              </mat-card-header>
              <mat-form-field  style="display: block;">
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field  style="display: block;">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field style="display: block;">
                <input matInput placeholder="Enter your OTP" required>
              </mat-form-field>
              <button mat-stroked-button color="primary" style="width: 360px; display: block; margin-top: 6%;">Login</button>
            </mat-card>
            </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop" style="padding: 0;">
      </div>
    </div>
  </div>