@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/switch/mdc-switch";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/textfield/mdc-text-field";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";

.container {
  padding: 20px 40px;
  width: 80%;
  margin-top: 20%;
}
.container>* {
  width: 100%;
}
.containerBG{
  height: 100vh
}
.example-right-align {
    text-align: right;
  }
  mat-grid-tile {
    background: lightblue;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }