@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/switch/mdc-switch";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";

.padding-content{
    padding: 5px 20px;
}
.my-card-content {
    padding: 16px;
  }
  .my-card {
    height: 350px;
    width: 350px;
  }