@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/switch/mdc-switch";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/top-app-bar/mdc-top-app-bar";
/*
Drawers - Installation - Styles
https://material.io/develop/web/components/drawers/
*/
@import "@material/drawer/mdc-drawer";
@import "@material/textfield/mdc-text-field";

.padding-content{
    padding: 5px 20px;
}
.my-card-content {
    padding: 16px;
  }
  .my-card {
    height: 350px;
    width: 350px;
  }
  body {
    display: flex;
    height: 100vh;
  }
  
  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
  }
  
  .main-content {
    overflow: auto;
    height: 100%;
  }
  
  .app-bar {
    position: absolute;
  }
  
  // only apply this style if below top app bar
  .mdc-top-app-bar {
    z-index: 7;
  }