/*
Top App Bar - Installation - Styles
https://material.io/develop/web/components/top-app-bar/
*/
@import "@material/top-app-bar/mdc-top-app-bar";
/*
Drawers - Installation - Styles
https://material.io/develop/web/components/drawers/
*/
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";

$mdc-theme-primary: rgb(125,0,240);
$mdc-theme-secondary: rgb(0,138,102);

body {
    display: flex;
    height: 100vh;
  }
  
  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
  }
  
  .main-content {
    overflow: auto;
    height: 100%;
  }
  
  .app-bar {
    position: absolute;
  }
  
  // only apply this style if below top app bar
  .mdc-top-app-bar {
    z-index: 7;
  }